@import "tailwindcss";
@layer utilities {
  @theme {
    --font-display: "Satoshi", "sans-serif";
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
    --color-avocado-400: oklch(0.92 0.19 114.08);
  }
}